/*!
Theme Name: Joe Theme
Theme URI: http://underscores.me/
Author: Shekh Kamal
Author URI: http://--
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: joe-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

// @import "bootstrap";

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

@import "layout/layout";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

@import "swiper.min";

.button__modal {
  background-color: white !important;
  width: 100% !important;
  border: none !important;
  color: #333 !important;

  &:after {
    right: 15px !important;
  }
}

.modal-button-wrapper {
  a {
    background-color: white !important;
    width: 100% !important;
    border: none !important;
    color: #333 !important;
    display: block !important;
    padding: 20px !important;
    text-align: left !important;
    cursor: pointer;

    &:after {
      font-family: ETmodules !important;
      font-size: 32px;
      line-height: 1em;
      content: "\43";
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
}

.modal-box-wrapper {
  a {
    background-color: white !important;
    width: 100% !important;
    border: none !important;
    color: #333 !important;
    padding: 20px !important;
    border: solid 2px #333 !important;
    min-height: 120px;
    display: flex !important;
    align-items: center;
    text-align: center !important;
    justify-content: center;
    transition: all 0.3s !important;
    cursor: pointer;


    &:hover {
      border-radius: 5px !important;
    }

  }
}

.modal-wrapper.styled .modal {
  z-index: 9999999;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}




.error-404 {
  img {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
  }
}

.site-content {

  &.light {
    padding-top: 58px;
  }
}



#et-boc .et_pb_with_background .et_pb_row_fullwidth {
  width: 100% !important;
  max-width: 100% !important;
}


.project-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 2%;
  margin-bottom: 7%;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  article {
    flex-basis: 46%;
    background-color: #d5d5d5;
    margin: 2%;

    @media (max-width: 767px) {
      flex-basis: 100%;
      margin-bottom: 2%;
    }
  }
}

.project-wrapper {
  display: flex;

  div:first-child {
    flex-basis: 30%;
    margin-right: 20px;

    @media (max-width: 767px) {
      flex-basis: auto;
      margin-right: 20px;
    }
  }

  img {
    display: block;
    height: min-content;

    @media (max-width: 767px) {
      max-height: 100px;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 17px;
    }

  }

  a {
    font-weight: 500;
    text-decoration: none;
    color: #333;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

}