h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}


%blod {
  font-weight: 600;
}

.section-header {

  &__large {

    padding: 20px 0px !important;
    padding-top: 0px !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-size: 55px;
      @extend %blod;
      @media (max-width:1100px){
        font-size: 35px;
        line-height: 40px;
      }
      @media (max-width:767px){
        font-size: 28px;
        line-height: 35px;
      }
    }
  }

  &__medium {
    padding: 15px 0px !important;
    padding-top: 0px !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-size: 30px;
      @extend %blod;

      @media (max-width:1100px){
        font-size: 25px;
      }
      @media (max-width:767px){
        font-size: 20px;
      }

    }
  }

  &__small {
    padding: 15px 0px !important;
    padding-top: 0px !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-size: 22px;
      @extend %blod;

    }
  }
}