.header {
  background-color: #000000a6;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 999;

  &.light {
    background-color: #ffffff;
  }

  &__row {
    max-width: 1200px;
    margin: 0 auto;


    img {
      max-height: 55px;
      display: inherit;
    }
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  //background-color: #fff;

}

.header {

  &.light {

    li a {
      color: #333;
    }
  }

  li a {
    display: block;
    padding: 10px 0px;
    //border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s;
    text-align: center;

    &:hover {
      padding-left: 10px;
    }
  }
}

.header li a {}

.header li a:hover,
.header .menu-btn:hover {
  // background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1em;
  padding: 10px 0px;
  text-decoration: none;

  @media (max-width: 1205px) {
    padding-left: 15px;
  }
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .3s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 40px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

// For Light
.header.light .menu-icon .navicon {
  background: #333;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

//For Light
.header.light .menu-icon .navicon:before,
.header.light .menu-icon .navicon:after {
  background: #333;
}



.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 300px;
  padding-bottom: 20px;
}

.header .menu-btn:checked .menu {
  ul {
    //border-top: solid 1px #ddd;
  }
}


.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */



// @media (max-width: 48em) {
//   .header li {
//     float: left;
//   }
//   .header li a {
//     padding: 20px 30px;
//   }
//   .header .menu {
//     clear: none;
//     float: right;
//     max-height: none;
//   }
//   .header .menu-icon {
//     display: none;
//   }
// }